
.maincontainer{
    /* background-color: #98AFC7; */
    border-radius: 20px;
}
body{
    background-color:rgba(223, 233, 228, 0.856);
    /* background-color: rgb(56, 134, 252); */
}
.inp{
    border-radius: 20px;
}

    




