.heading{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .butt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 30px;
    margin-bottom: 30px;
  }
  .frm{
    margin-left: 65px;
    justify-content: center;
    background-color: white;
    padding: 10px;
    max-width: 90%;
  }