.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 20px; */
}
.display
{
    margin-top: -16px;
}

.title{
    padding: 5px;
    background-color: #293d3d ;
    color: white;
}
.com{
    max-width: 95%;
    margin-left: 22px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
