.back{
    background-color: white;
    border-radius: 5px;
    margin-left: 35px;
  }
  .alignment{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  .heading{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .but{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 100px;
  }
  .frm{
    margin-left: 65px;
    justify-content: center;
    background-color: white;
    padding: 10px;
    max-width: 90%;
  }